body {
    background-color: #FFF2E1;
}
header{
 background-color: #EAD8C0;
 height: 50px;
 width: fit-content;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 10px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 -o-border-radius: 10px;
}
a {
    margin: 20px;
    color: #A79277; 
    text-decoration: none; 
    font-size: 25px;
    font-weight: bold;

  }
  a:hover{
    color: #D1BB9E;
    border-bottom: 2px solid #A79277;
  }